.profile__edit-button {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  background-color: black;
  color: white;
  margin: 0;
  background: url(../../../images/edit.svg) center center no-repeat;
  padding: 5px;
  transition: opacity 100ms ease-out;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media screen and (min-width: 920px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    padding: 7px;
    margin-bottom: -7px;
  }
}
