.popup__container {
  display: block;
  width: calc(100% - 40px);
  box-sizing: border-box;
  max-width: 430px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  padding: 25px 22px;
}

@media screen and (min-width: 920px) {
  .popup__container {
    padding: 34px 36px;
  }
}
