.popup__input-error {
  display: none;
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
  min-height: 32px;
  margin: -28px 0 -4px 0;
}

@media screen and (min-width: 920px) {
  .popup__input-error {
    margin: -28px 0 -4px 0;
  }
}


