.footer__text {
  padding: 48px 0 36px;
  color: #545454;
  font-size: 14px;
  line-height: 17px;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 18px;
    line-height: 22px;
  }
}
