.popup__submit {
  width: 232px;
  height: 46px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: opacity 100ms ease-out;
}

.popup__submit:hover {
  opacity: 80%;
}
