.popup__form-item {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding: 0;
  margin: 0 0 24px 0;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  transition: outline 50ms ease-out;
}

.popup__form-item:focus {
  outline: 3px cornflowerblue solid;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.popup__form-item:invalid {
  border-bottom: 1px solid #FF0000;
}


@media screen and (min-width: 920px) {
  .popup__form-item {
    margin: 0 0 20px 0;
  }
}

.popup__form-item::placeholder,
.popup__form-item::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: rgb(0, 0, 0, 0.3);
}
