.profile__ocupation {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding-bottom: 36px;
  margin: 0;
}

@media screen and (min-width: 920px) {
  .profile__ocupation {
    font-size: 18px;
    line-height: 22px;
  }
}
